<div class="folder" id="<%= folder.id %>">
    <div class="card">
        <div class="card-header collapsed" role="button" data-toggle="collapse" data-target="#collapse<%= folder.id %>" aria-expanded="true" aria-controls="collapse<%= folder.id %>">
            <%= folder.name %>
        </div>
    </div>
    <div id="collapse<%= folder.id %>" class="collapse" aria-labelledby="heading<%= folder.id %>" data-parent="#accordion">
        <div class="card-body">
            <%= link_to 'Destroy', folder, method: :delete, data: { remote:true }, class: "delete", id: "#{folder.id}" %><br>
            <%= link_to 'Add document', new_folder_document_path(folder), remote:true, class: "new-doc" %><br>
            <% if folder.documents.any? %>
                <%= render folder.documents %>
            <% end %>
        </div>
    </div>
</div>
