<head>
  <title>WordFrequencyComparator</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <meta name="robots" content="noindex">
  <link rel="icon" href="<%= asset_path("doc.png") %>">
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_pack_tag 'application' %>
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
</head>