<div class="pb-4">
    <div class="sub-heading mb-3">
        Results of Comparison for "<%= selection.word %>"
    </div>
    
    <div class="selectees">
        <% selection.selectees_json.each do |selectee| %>
            <div class="selectee d-flex flex-column align-items-stretch">
                <div class="overflow-hidden flex-1"><%= selectee["name"] %></div>
                <div class="mb-1 flex-1">Average frequency: <%= selectee["average"] %></div>
                <% if selectee["average"] > 0.0 %>
                    <div id="chart_<%= selectee["folder_id"] %>" class="chart"></div>
                <% end %>
                <div class="d-flex flex-row justify-content-end mt-1">
                    <a class="highlights-btn" data-toggle="modal" data-target="#modal_<%= selectee["folder_id"] %>">
                        View Highlights
                    </a>
                </div>
            </div>
        <% end %>
    </div>
    
    <script type="text/javascript">
    
        google.charts.load('current', {'packages':['corechart']});
        google.charts.setOnLoadCallback(drawCharts);
        
        function drawCharts() {
            <% selection.selectees_json.each do |selectee| %>
                var data = new google.visualization.DataTable();
                data.addColumn('string', 'Documents');
                data.addColumn('number', 'Frequency');
                <% selectee["docs"].sort_by{|doc| doc["tally"]}.each do |doc| %>
                    data.addRows([
                        ['<%= doc["title"] %>', <%= doc["tally"] %>]
                    ]);
                    var options = {
                        'title': '<%= selectee["name"] %>', 
                        colors: ['#0277bc'],
                        legend: {position: 'in'}
                    };
                
                    var chart = new google.visualization.ColumnChart(document.getElementById('chart_<%= selectee["folder_id"] %>'));
                    chart.draw(data, options);
                <% end %>
            <% end %>
        }
        
    </script>
        
    <% selection.selectees_json.each do |selectee| %>
        <div id="modal_<%= selectee["folder_id"] %>" class="modal fade" role="dialog">
            <div class="modal-dialog modal-lg" role="content">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title"><%= selectee["name"] %></h4>
                        <button type="button" class="close" data-dismiss="modal">
                            &times;
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="mb-2 highlights">
                            <% selectee["docs"].each do |doc| %>
                                <%= doc["title"] %>
                                <p class="pl-2 mt-2">
                                    <%= doc["highlights"].html_safe %>
                                </p>
                            <% end %>
                        </ul>
                    </div> <!-- end of modal body -->
                </div> <!-- end of modal content -->
            </div> <!-- end of dialog -->
        </div> <!-- end of modal -->
    <% end %>
</div>