<p id="notice"><%= notice %></p>

<p>
  <strong>New:</strong>
  <%= @selection.new %>
</p>

<p>
  <strong>Create:</strong>
  <%= @selection.create %>
</p>

<p>
  <strong>Show:</strong>
  <%= @selection.show %>
</p>

<p>
  <strong>Index:</strong>
  <%= @selection.index %>
</p>

<p>
  <strong>Destroy:</strong>
  <%= @selection.destroy %>
</p>

<%= link_to 'Edit', edit_selection_path(@selection) %> |
<%= link_to 'Back', selections_path %>
