<!DOCTYPE html>
<html>
<head>
  <title>WordFrequencyComparator</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <link rel="icon" href="<%= asset_path("doc.png") %>">
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_pack_tag 'application' %>
</head>

<body id="body">
<header>
  <% if logged_in? %>
    <div class="d-none d-md-block container-fluid login-strip">
        <div class="login-text">
          <span class="green">Logged in as </span><span class="white"><%= current_user.username %></span><span class="green"> |</span>
        </div>
        <%= button_to "Logout", logout_path, method: :delete, class: "btn btn-sm btn-outline-light btn-logout",form_tag: "btn-logout-form" %>
    </div>
  <% end %>
  
  <nav class="navbar navbar-light">
    <a class="navbar-brand" href="#">
      <img src="<%= asset_path("doc.png") %>" height="40" width="40" class="align-top"><span class="main-heading">
        <span class="green">Word</span><span class="white">Frequency</span><span class="green">Comparator</span>
      </span>
    </a>
    <ul class="navbar-nav ml-auto login">
    </ul>
  </nav>
  
  <div>
  <div class="alert container-fluid" height="20">
    <span class="alert-text">
      <% if flash.any? %>
        <% flash.each do |type,msg| %>
          <%= msg %>
        <% end %>
    <% end %>
    </span>
  </div>
</div>
</header>

<%= yield %>
</body>
</html>
