<!DOCTYPE html>
<html>
<head>
  <title>WordFrequencyComparator</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <link rel="icon" href="<%= asset_path("doc.png") %>">
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_pack_tag 'application' %>
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
</head>

<body>
<nav class="navbar navbar-light">
  <div class="container" style="position: relative;">
  <span class="d-none d-md-block login-strip" style="width: 100%;" >
    <% if logged_in? %>
      <span class="green">Logged in as </span><span class="white"><%= current_user.username %></span>
    <% end %>
  </span>
    <a class="navbar-brand" href="#">
      <img src="<%= asset_path("doc.png") %>" height="40" width="40" class="align-top"><span class="main-heading">
        <span class="green">Word</span><span class="white">Frequency</span><span class="green">Comparator</span>
      </span>
    </a>
    <ul class="navbar-nav ml-auto login">
    </ul>
  </div>
</nav>
   
<div class="alert" height="20">
  <div class="container">
    <span class="alert-text">
      <% if flash.any? %>
        <% flash.each do |type,msg| %>
          <%= msg %>
        <% end %>
      <% end %>
    </span>
  </div>
</div>

<nav id="menu" class="navbar navbar-light menu">
  <div class="container menu-bar">
    <% if logged_in? %>
    <ul class="navbar-nav flex-row">
      <li>
        <div class="nav-item menu-item">
          <%= link_to 'New Folder', new_folder_path, remote: true, id: "folderButton", class: "nav-link" %>
        </div>
      </li>
      <li>
        <div class="nav-item menu-item">
          <%= link_to 'Compare', new_selection_path, remote: true, id: "compareBtn", class: "nav-link" %>
        </div>
      </li>
      <li class="nav-item">
        <div class="nav-item menu-item">
          <%= link_to "Logout", logout_path, method: :delete, class: "nav-link" %>
        </div>
      </li>
    </ul>
    <% end %>
  </div>
</nav>

</header>

<%= yield %>
<footer class="panel-footer">
  
</footer>
</body>
</html>
