<!DOCTYPE html>
<html>
  
  <%= render 'shared/head' %>
  
  <body>

    <%= render 'shared/header' %>
    <%= render 'shared/alert' %>
    <%= render 'shared/navbar' %>

    <%= yield %>
    
  </body>
</html>
